:host {
	display: flex;
	gap: 24px;
	width: 384px;
	border: 1px solid #3E507228;
	border-radius: 20px;
	flex-direction: column;
	align-items: center;
	padding: 32px;
	button {
		width: 100%;
		padding: 16px 24px;
		background: #3E507214;
		border-radius: 8px;
		border: none;
		cursor: pointer;
		&:hover {
			background: #3E50721E;
		}
		&:active {
			background: #3E507233;
		}
	}
}

.info {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	h3 {
		margin: 0;
	}
}

.description {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
	color: #000B26B7;
}
