@import '~swiper/swiper.min.css';

.slider {
	background: #B3EDC8;
	max-width: 1200px;
	border-radius: 20px;
	transition: background-color 0.2s;
	.content {
		min-height: 320px - 56px;
		padding: 56px 0 0 64px;
		h2 {
			font-size: 48px;
			line-height: 56px;
			margin: 0 0 15px 0;
		}
		span {
			font-size: 16px;
			line-height: 24px;
		}
		button {
			display: block;
			padding: 12px 24px;
			border-radius: 8px;
			background: #07C88E;
			color: #FFFFFF;
			border: none;
			cursor: pointer;
			margin-top: 40px;
			&:hover {
				background: #0bb682;
			}
			&:active {
				background: #0a9f72;
			}
		}
		img {
			position: absolute;
			right: 0;
			z-index: -1;
			margin-top: -56px; // as content has 56px padding itself
			//max-width: 100%;
			&.stickRight {
				margin-right: -55px;
				padding-left: 55px;
			}
			@media (max-width: 750px) {
				margin-left: -590px;
			}
			pointer-events: none;
		}
	}
	&Yellow {
		@extend .slider;
		background-color: #FFE48F;
	}
}

.arrowL {
	z-index: 1;
	position: relative;
	width: 44px;
	height: 44px;
	background-color: white;
	border: none;
	border-radius: 50px;
	box-shadow: 0 4px 24px #000B261E;
	cursor: pointer;
	transition: background-color 0.2s;
	&:hover {
		background-color: #f3f3f3;
	}
	&:active {
		background-color: #e5e5e5;
	}
	top: -182px;
	left: -22px;
	margin-bottom: -44px;
	float: left;
}

.arrowR {
	@extend .arrowL;
	transform: rotate(180deg);
	float: right;
	left: 22px;
}

@media (max-width: 650px) {
	.slider {
		position: absolute;
		left: 0;
		right: 0;
		margin-top: -35px;
		border-radius: 0;
		.content {
			padding: 24px 16px;
			height: 425px;
			button {
				width: 100%;
				padding: 12px 24px;
			}
			img {
				//bottom: -40px;
				margin-top: 160px;
			}
			h2 {
				font-size: 24px;
				line-height: 28px;
			}
		}
	}
	.arrowL {
		display: none;
	}
}
