<div [className]="(color$ | async) === 'yellow' ? 'sliderYellow' : 'slider'">
	<swiper
		#swiper
		[config]="config"
		(slideChange)="onSlideChange()"
	>
		<ng-template swiperSlide>
			<div class="content">
				<img src="assets/recyclingFlat.png" alt="Recycling abstract" />
				<h2>Сделаем мир чище</h2>
				<span>Сдай макулатуру или старую одежду и получи скидку<br/>
					на покупку товаров из переработанных материалов</span>
				<button>Условия сервиса</button>
			</div>
		</ng-template>
		<ng-template swiperSlide>
			<div class="content">
				<img src="assets/trash.png" alt="Trash" />
				<h2>А вы знали...</h2>
				<span>что среднее время разложения пластмассовых изделий колеблется
					от 400 до 700 лет, а полиэтиленовых пакетов — от 100 до 200 лет? </span>
				<button>Узнать больше</button>
			</div>
		</ng-template>
		<ng-template swiperSlide>
			<div class="content">
				<img class="stickRight" src="assets/recycling.png" alt="Recycling showcase" />
				<h2>Что с масками?</h2>
				<span>Медицинские маски не обязательно должны становиться отходами.
					Их тоже можно сдать на переработку.</span><br/>
				<button>Пункты сбора масок</button>
			</div>
		</ng-template>
	</swiper>
	<button
		class="arrowL"
		(click)="slidePrev()"
	>
		<img alt="Slider arrow" src="assets/sliderArrow.svg" />
	</button>
	<button
		class="arrowR"
		(click)="slideNext()"
	>
		<img alt="Slider arrow" src="assets/sliderArrow.svg" />
	</button>
</div>
