<header>
	<div class="container">
		<div class="logo">
			<img src="assets/ecoRus.svg" alt="EcoRus logo"/>
		</div>
		<ul class="selectors">
			<li *ngFor="let location of locations$">
				<a
					[routerLink]="location.path"
					routerLinkActive="current"
					[routerLinkActiveOptions]="{exact: true}"
				>
					{{location.label}}
				</a>
			</li>
		</ul>
		<ul class="dynamic" *ngIf="!cache$; else authorized">
			<li>
				<svg-icon src="assets/mapPoint.svg"></svg-icon>
				Казань
			</li>
			<li (click)="openExampleDialog()">
				<svg-icon src="assets/login.svg"></svg-icon>
				Войти
			</li>
			<li class="mobile">
				<svg-icon src="assets/menu.svg"></svg-icon>
			</li>
		</ul>
	</div>
</header>

<ng-template #authorized>
	<div class="dynamic">
		<li>
			<svg-icon src="assets/mapPoint.svg"></svg-icon>
			Казань
		</li>
		<li>
			<svg-icon src="assets/ecoCoin.svg"></svg-icon>
			<b>{{cache$!.balance}}</b>
		</li>
		<li>
			<img [src]="cache$!.avatar_url ?? 'assets/defaultAvatar.png'" alt="Изображение профиля" />
			{{cache$!.display_name}}
		</li>
		<li class="mobile">
			<svg-icon src="assets/menu.svg"></svg-icon>
		</li>
	</div>
</ng-template>
