header {
	height: 80px;
	width: 100%;
	//margin-top: -56px;
	left: 0;
	top: 0;
	box-shadow: 0 0.5px 0 #0000001E;
	display: flex;
	flex-direction: row;
	justify-content: center;
	@media (max-width: 405px) {
		zoom: 0.8;
	}
}

.container {
	width: 1200px;
	display: flex;
	padding: 0 30px;
	@media (max-width: 460px) {
		padding: 0 0 0 15px;
	}
}

.headLine {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	li {
		padding: 15px;
		list-style-type: none;
		font-size: 14px/18px;
		font-weight: bold;
	}
	padding-inline-start: 0;
}

.selectors {
	@extend .headLine;
	@media (max-width: 970px) {
		display: none;
	}
	li {
		a {
			//text-decoration: none;
			letter-spacing: 1px;
			//text-underline-offset: 10px;
			color: #000B26A3;
			transition: color 0.2s, box-shadow 0.2s;
			//transition-duration: 0.5s;
			box-shadow: 0 48px 0 -2px #00000000;
			border-radius: 10px;
			&[class="current"] {
				color: #000B26;
				box-shadow: 0 45px 0 -2px #07C88E;
			}
			&:hover {
				color: #000B26;
			}
			text-decoration: underline;
			text-decoration-color: white;
			text-underline-offset: 28px;
			text-decoration-thickness: 15px;
			white-space: nowrap;
		}
	}
}

.dynamic {
	@extend .headLine;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	li {
		display: flex;
		align-items: center;
		color: #000B26CC;
		fill: #000B26B8;
		gap: 8px;
		b {
			color: black;
		}
		svg {
			width: 24px;
			height: 24px;
		}
		img {
			padding-right: -4px;
		}
		&:hover {
			color: black;
			fill: black;
			cursor: pointer;
			b {
				color: #2a3f81;
			}
		}
	}
	.mobile {
		@media (min-width: 970px) {
			display: none;
		}
	}
	.desktop {
		@media (max-width: 970px) {
			display: none;
		}
	}
}

.logo {
	display: flex;
	height: 100%;
	align-items: center;
	img {
		height: 18px;
	}
}
