<div class="titleBar">
	<h1>Вход</h1>
	<svg-icon src="assets/close.svg" (click)="close()"></svg-icon>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<input
		type="tel"
		placeholder="Телефон"
		formControlName="phone"
	/>
	<span class="error">{{phoneError}}</span>
	<input
		type="password"
		placeholder="Пароль"
		formControlName="password"
	/>
	<span class="error">{{passwordError}}</span>
	<button *ngIf="!(isLoading$ | async); else loader" type="submit" [disabled]="!form.valid">Войти</button>
	<div class="choices">
		<a href="#">Войти с помощью смс</a>
		<a (click)="openRegisterModal()">Регистрация</a>
	</div>
	<button type="button" class="alternative">Вход для партнёров</button>
</form>

<ng-template #loader>
	<div class="center">
		<app-loader></app-loader>
	</div>
</ng-template>
