<div class="titleBar">
	<h1>Вход</h1>
	<svg-icon src="assets/close.svg" (click)="close()"></svg-icon>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<input
		type="email"
		placeholder="Email"
		formControlName="email"
	/>
	<span class="error" *ngIf="form.controls['email'].hasError('email')">
		Введите email
	</span>
	<input
		type="tel"
		placeholder="Телефон"
		formControlName="phone"
	/>
	<span class="error" *ngIf="form.controls['phone'].hasError('pattern')">
		Введите номер телефона
	</span>
	<input
		type="password"
		placeholder="Пароль"
		formControlName="password"
	/>
	<span class="error" *ngIf="form.controls['password'].hasError('minlength')">
		Пароль должен быть не меньше 8 символов
	</span>
	<button
		*ngIf="!(isLoading$ | async); else loader"
		type="submit"
		[disabled]="!form.valid"
	>
		Войти
	</button>
	<div class="choices">
		<a (click)="openSignInSMSModal()">Войти с помощью смс</a>
		<a (click)="openRegisterModal()">Регистрация</a>
	</div>
</form>

<ng-template #loader>
	<div class="center">
		<app-loader></app-loader>
	</div>
</ng-template>
