<app-map class="map"></app-map>
<div class="bar">
	<input type="text" placeholder="Поиск"/>
	<svg-icon class="search" src="assets/search.svg"></svg-icon>
	<select name="shops">
		<option value="info" disabled selected>Выбрано 0 магазинов</option>
		<option value="all">Выбрать все</option>
		<option value="0">H&M</option>
		<option value="1">P&B</option>
		<option value="2">Adidas</option>
		<option value="3">Nike</option>
		<option value="4">Reebok</option>
	</select>
	<select name="materials">
		<option value="info" disabled selected>Материалы</option>
		<option value="all">Выбрать все</option>
		<option value="0">Пластик</option>
		<option value="1">Обувь</option>
		<option value="2">Старая одежда</option>
		<option value="3">Стекло</option>
		<option value="4">Бумага</option>
		<option value="5">Металл</option>
		<option value="6">Батарейка</option>
	</select>
</div>
<div class="container">
	<div class="collections">
		<div *ngFor="let point of points$ | async">
			<img [src]="point.image_src" alt="Recycling point" />
			<b>{{point.address}}</b>
			<span>{{point.accepts}}</span>
		</div>
	</div>
</div>
