:host {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-start;
	gap: 24px;
	.item {
		width: 265px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		.cover {
			width: 100%;
			border-radius: 16px;
			background-color: #f6f6f6;
			cursor: pointer;
			img {
				max-width: 100%;
				//pointer-events: none;
			}
			span {
				position: absolute;
				border-radius: 10px;
				box-shadow: 0 4px 24px #3333331E;
				background: white;
				padding: 6px 10px;
				color: #000B26B7;
				margin: 15px 17px;
			}
		}
		.price {
			font-weight: 600;
			display: flex;
			align-items: center;
			gap: 5px;
		}
		b {
			cursor: pointer;
			&:hover {
				color: #07ab7a;
			}
			&:active {
				color: #05815c;
			}
		}
		span {
			color: #000B268E;
		}
	}
}
