.items {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-start;
	gap: 24px;
	.item {
		width: 265px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		.cover {
			width: 100%;
			border-radius: 16px;
			background-color: #f6f6f6;
			cursor: pointer;
			img {
				max-width: 100%;
				//pointer-events: none;
			}
			span {
				position: absolute;
				border-radius: 10px;
				box-shadow: 0 4px 24px #3333331E;
				background: white;
				padding: 6px 10px;
				color: #000B26B7;
				margin: 15px 17px;
			}
		}
		.price {
			font-weight: 600;
			display: flex;
			align-items: center;
			gap: 5px;
		}
		b {
			cursor: pointer;
			&:hover {
				color: #07ab7a;
			}
			&:active {
				color: #05815c;
			}
		}
		span {
			color: #000B268E;
		}
	}
	.promo {
		display: flex;
		flex-direction: column;
		padding: 24px;
		border: 1px solid #3E50721E;
		box-shadow: 0 12px 32px #7979791E, 0 4px 24px #152D671E;
		border-radius: 16px;
		width: 263px - 48px;
		height: 371px - 48px;
		.convert {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			text-align: center;
			svg {
				position: relative;
				top: 0.40em;
				padding: 0 5px;
			}
		}
		button {
			font-size: 18px;
			margin: 12px 0;
			padding: 16px;
			border-radius: 8px;
			border: none;
			background: #07C88E;
			width: 100%;
			color: white;
			height: 56px;
			cursor: pointer;
			&:hover {
				background: #07ab7a;
			}
			&:active {
				background: #05815c;
			}
		}
	}
}
