<div class="titleBar">
	<h1>Регистрация</h1>
	<svg-icon src="assets/close.svg" (click)="close()"></svg-icon>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<input
		type="email"
		placeholder="Email"
		formControlName="email"
	/>
	<span class="error" *ngIf="form.controls['email'].hasError('email')">
		Введите ваш email
	</span>
	<input
		type="tel"
		placeholder="Телефон"
		formControlName="phone"
	/>
	<span class="error" *ngIf="form.controls['phone'].hasError('pattern')">
		Введите номер телефона
	</span>
	<input
		type="password"
		placeholder="Пароль"
		formControlName="password"
	/>
	<span class="error" *ngIf="form.controls['password'].hasError('minlength')">
		Пароль должен быть не меньше 8 символов
	</span>
	<input
		type="password"
		placeholder="Повторите пароль"
		formControlName="password2"
	/>
	<span class="error" *ngIf="form.controls['password2'].hasError('notequal')">
		Пароли не совпадают
	</span>
	<button
		*ngIf="!(isLoading$ | async); else loader"
		type="submit"
		[disabled]="!form.valid"
	>
		Зарегистрироваться
	</button>
	<div class="choices">
		<a (click)="openSignInModal()">Я уже зарегистировался(-ась)</a>
	</div>
	<button type="button" class="alternative">Вход для партнёров</button>
</form>

<ng-template #loader>
	<div class="center">
		<app-loader></app-loader>
	</div>
</ng-template>
