.titleBar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	h1 {
		margin: 0;
	}
}

.sortPicker {
	float: right;
	display: flex;
	gap: 12px;
	align-items: center;
	button {
		background: #3E507214;
		color: #000B26CC;
		border-radius: 61px;
		font-size: 16px;
		padding: 10px 20px;
		border: none;
		&:hover {
			background: #3E507226;
		}
		&:active {
			background: #3E50725B;
		}
	}
	.active {
		background: #060E21E0;
		color: white;
		&:hover {
			background: #060E21C9;
		}
		&:active {
			background: #060E217C;
		}
	}
}

.market {
	display: flex;
	gap: 24px;
	.filter {
		display: flex;
		flex-direction: column;
		gap: 24px;
		button {
			background: #3E507214;
			border-radius: 8px;
			border: none;
			padding: 12px 24px;
			&:hover {
				background: #3E50721F;
			}
			&:active {
				background: #3E50725A;
			}
		}
	}
	.choices {
		display: flex;
		flex-direction: column;
		width: 282px;
		border: 1px solid #3E507228;
		border-radius: 16px;
		padding: 24px;
		gap: 12px;
	}
}
