<div class="titleBar">
	<h1>ЭкоМаркет</h1>
	<div class="sortPicker">
		<button class="active">По популярности</button>
		<button>По цене</button>
		<button>По новизне</button>
	</div>
</div>
<div class="market">
	<div class="filter">
		<div class="choices">
			TODO
		</div>
		<button>Сбросить фильтры</button>
	</div>
	<div class="items">
		<div class="promo">
			<div class="convert">
				<p>
					<span>На вашем балансе</span>
					<svg-icon src="assets/ecoCoin.svg"></svg-icon>
					<b>200</b>
				</p>
				<span>Вы можете обменять их на скидку 200 руб.</span>
			</div>
			<button>Получить промокод</button>
		</div>
	</div>
</div>
