<div class="titleBar">
	<h1>ЭкоМаркет</h1>
	<div class="sortPicker">
		<button (click)="setSort(0)" [class.active] = '(sort$ | async) === 0'>По популярности</button>
		<button (click)="setSort(1)" [class.active] = '(sort$ | async) === 1'>По цене</button>
		<button (click)="setSort(2)" [class.active] = '(sort$ | async) === 2'>По новизне</button>
	</div>
</div>
<div class="market">
	<div class="filter">
		<div class="choices">
			TODO
		</div>
		<button>Сбросить фильтры</button>
	</div>
	<app-market-items
		[sort]="sort$"
		[gender]="gender$"
		[categories]="categories$"
		[shops]="shops$"
	></app-market-items>
</div>
