<div class="titleBar">
	<h1>ЭкоМаркет</h1>
	<div class="sortPicker">
		<button (click)="setSort(0)" [class.active] = '(sort$ | async) === 0'>По популярности</button>
		<button (click)="setSort(1)" [class.active] = '(sort$ | async) === 1'>По цене</button>
		<button (click)="setSort(2)" [class.active] = '(sort$ | async) === 2'>По новизне</button>
	</div>
</div>
<div class="market">
	<div class="filter">
		<div class="choices">
			<b>Пол</b>
			<app-checkbox-selector
				[choices]='{"MAN": "Мужской", "WOMAN": "Женский"}'
				[selected]="gender$"
				id="gender"
			></app-checkbox-selector>
			<b>Тип товара</b>
			<app-checkbox-selector
				[choices]='{"CLOTHES": "Одежда", "SHOES": "Обувь", "ACCESSORIZE": "Аксессуары",
                            "FURNITURE": "Мебель", "DISHES": "Посуда"}'
				[selected]="categories$"
				id="categories"
			></app-checkbox-selector>
			<b>Брэнд</b>
			<app-checkbox-selector
				[choices]='{"H&M": "H&M", "P&B": "P&B", "Adidas": "Adidas", "NIKE": "Nike", "Reebok": "Reebok"}'
				[selected]="shops$"
				id="shops"
			></app-checkbox-selector>
		</div>
		<button (click)="resetFilter()">Сбросить фильтры</button>
	</div>
	<app-market-items
		[sort]="sort$"
		[gender]="gender$"
		[categories]="categories$"
		[shops]="shops$"
	></app-market-items>
</div>
