<div class="item" *ngFor="let item of items$ | async">
	<button *ngIf="!item.expired" (click)="showQRCodeModal()">Показать qr-код</button>
	<div class="value">{{item.discount}} ₽</div>
	<svg-icon [src]="item.expired ? 'assets/expiredCoupon.svg' : 'assets/activeCoupon.svg'"></svg-icon>
	<div class="description">
		<div class="label">
			<span>Дата создания:</span>
			<p>{{item.date}}</p>
		</div>
		<div class="label">
			<span>Ссылка на товар:</span>
			<a>{{item.link}}</a>
		</div>
	</div>
</div>
