<div class="item" *ngFor="let item of items$ | async">
	<div class="cost">
		<svg-icon src="assets/ecoCoin.svg"></svg-icon>
		<b>{{item.payout}}</b>
	</div>
	<div class="wrapper">
		<div class="label">
			<span>Адрес</span>
			<p>{{item.address}}</p>
		</div>
		<div class="label">
			<span>Материал</span>
			<div class="tags">
				<p *ngFor="let material of item.materials">
					{{material}}
				</p>
			</div>
		</div>
		<div class="label">
			<span>Дата</span>
			<p>{{item.date}}</p>
		</div>
	</div>
</div>
