.selector {
	display: flex;
	flex-direction: column;
	gap: 4px;
	b {
		padding-bottom: 8px;
	}
	input {
		opacity: 0;
		position: absolute;
	}
	label {
		user-select: none;
		cursor: pointer;
	}
	label::before {
		content: "";
		display: inline-block;
		width: 1em;
		height: 1em;
		border: 1px solid #adb5bd;
		border-radius: 0.25em;
		margin-right: 0.5em;
		background-repeat: no-repeat;
		background-position: center center;
	}
	input:checked+label::before {
		border-color: #07C88E;
		background-color: #07C88E;
		background-image: url("/assets/selected.svg");
	}
}
