:host {
	padding: 12px;
}

.titleBar {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	h1 {
		margin: 0;
		display: inline-block;
	}
	svg {
		cursor: pointer;
	}
	padding-bottom: 48px;
	@media (max-width: 550px) {
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% - 40px);
		margin: 20px;
	}
}

.choices {
	display: flex;
	justify-content: space-between;
	width: 100%;
	a {
		color: #07C88E;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			color: #07ab7a;
		}
		&:active {
			color: #05815c;
		}
	}
}

.alternative {
	background: #3E507214;
	color: #000B26CC;
	margin-top: 32px;
	&:enabled {
		&:hover {
			background: #3E50721E;
		}
		&:active {
			background: #3E507233;
		}
	}
}

.error {
	color: red;
}

.center {
	text-align: center;
	width: 100%;
}

input, button {
	font-size: 18px;
	margin: 12px 0;
	padding: 16px;
	border-radius: 8px;
	border: 1px solid #000B2628;
}

input {
	height: 26px;
	width: 384px - 34px;
}

button {
	width: 100%;
	background: #07C88E;
	color: white;
	height: 56px;
	cursor: pointer;
	&:hover {
		background: #07ab7a;
	}
	&:disabled {
		cursor: no-drop;
	}
	&:enabled:active {
		background: #05815c;
	}
}

p {
	max-width: 384px;
	span {
		color: #07C88E;
	}
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
