<button
	(click)='toggleSelect()'
	class='select'
	cdkOverlayOrigin
	#trigger="cdkOverlayOrigin"
	#origin
>
	{{ value$ }}
	<svg-icon src="assets/arrowDown.svg"></svg-icon>
</button>

<ng-template
	cdkConnectedOverlay
	[cdkConnectedOverlayOrigin]="trigger"
	[cdkConnectedOverlayOpen]="isOpen"
	[cdkConnectedOverlayHasBackdrop]='true'
	[cdkConnectedOverlayLockPosition]='true'
	(backdropClick)='toggleSelect()'
	[cdkConnectedOverlayMinWidth]="originRect?.width!"
	cdkConnectedOverlayBackdropClass='select__backdrop'
	[cdkConnectedOverlayPositions]='overlayPositions'
>
	<app-checkbox-selector
		class="dropdown"
		[choices]="choices$"
		[selected]="selected$"
	></app-checkbox-selector>
</ng-template>
